/* Shared theme styles for Filament admin panel and user app panel */

/* General styles */
html.fi {
    scrollbar-gutter: auto;
}

/* Infolist entry styles */
div.fi-in-entry {
    @apply gap-1;
}

dt.fi-in-entry-label {
    @apply font-normal text-gray-500 dark:text-gray-400;
}

.fi-in-entry-content div {
    @apply text-base font-medium text-gray-900 dark:text-gray-100;
}

/* Sidebar navigation styles */
.fi-sidebar-nav {
    @apply pb-0;
}

.fi-sidebar-nav .fi-sidebar-nav-groups {
    @apply h-full;

    li:last-child {
        @apply mt-auto;

        &:not(.fi-sidebar-item-has-url) {
            @apply pb-8;
        }
    }
}

/* Multifactor authentication styles */
#multiFactorChallengeForm\.app .fi-fo-field {
    place-items: center;
}

/* Table actions */
.fi-ta-header .fi-ta-actions button,
.fi-ta-header .fi-ta-actions a {
    @apply w-full [@media(min-width:480px)]:w-fit;
}

.fi-ta-header .fi-ta-actions {
    @apply ms-[unset] flex-col-reverse [@media(min-width:480px)]:ms-auto [@media(min-width:480px)]:flex-row;
}
