/* Shared theme styles for Filament admin panel and user app panel */

/* General styles */
html.fi {
    scrollbar-gutter: auto;
}

/* Infolist entry styles */
div.fi-in-entry {
    @apply gap-1;
}

dt.fi-in-entry-label {
    @apply font-normal text-gray-500 dark:text-gray-400;
}

.fi-in-entry-content div {
    @apply text-base font-medium text-gray-900 dark:text-gray-100;
}

/* Sidebar navigation styles */
.fi-sidebar-nav {
    @apply pb-0;
}

.fi-sidebar-nav .fi-sidebar-nav-groups {
    @apply h-full;

    li:last-child {
        @apply mt-auto;

        &:not(.fi-sidebar-item-has-url) {
            @apply pb-8;
        }
    }
}

/* Secondary button */
.fi-button-secondary {
    @apply bg-transparent outline-solid outline-1 outline-gray-300 font-medium text-gray-950 hover:bg-gray-50 dark:text-white dark:hover:bg-gray-900!;

    svg {
        @apply text-gray-950 dark:text-white;
    }
}

.fi-button-secondary.page-header-action {
    @apply hover:bg-white;

    &:has(svg) {
        svg {
            @apply text-gray-950 dark:text-white;
        }
    }
}

/* Table record action buttons */
.fi-ta-button-primary {
    @apply bg-transparent p-2 rounded-lg border border-primary-600 text-primary-600 hover:bg-white dark:hover:bg-gray-900! hover:no-underline;
}

.fi-ta-button-secondary {
    @apply bg-transparent text-gray-950 dark:text-white p-2 rounded-lg border border-gray-300 hover:bg-white dark:hover:bg-gray-900! hover:no-underline;

    &:has(svg) {
        svg {
            @apply text-gray-950 dark:text-white;
        }
    }
}

/* Multifactor authentication styles */
#multiFactorChallengeForm\.app .fi-fo-field {
    place-items: center;
}

/* Modal button */
.fi-ta-filters-modal .fi-modal-footer-actions button:nth-of-type(2) {
    @apply bg-transparent h-9 text-red-500 border border-red-500 hover:bg-red-500 hover:text-white;
}

/* Table actions */
.fi-ta-header .fi-ta-actions button,
.fi-ta-header .fi-ta-actions a {
    @apply w-full [@media(min-width:480px)]:w-fit;
}

.fi-ta-header .fi-ta-actions {
    @apply ms-[unset] flex-col-reverse [@media(min-width:480px)]:ms-auto [@media(min-width:480px)]:flex-row;
}
