@import '../shared/theme.css';
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

a.fi-in-entry-content {
    @apply w-fit md:hover:underline;
}

/* Widget stats overview value */
.fi-wi-stats-overview-stat-value {
    @apply text-2xl;
}

/* Tabs */
.fi-tabs {
    @apply max-w-fit;
}

.fi-tabs:not(.fi-contained) {
    @apply mx-[unset];
}
